.DS_Store

# Node
node_modules

# Python
__pycache__/
*.py[cod]
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Streamlit
.streamlit/secrets.toml

# Local env
.env
